<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand container">
    <a class="navbar-item" href="https://github.com/jbarnobal/rails_medium_editor_insert_plugin">
      <i class="icon icon-diamond"></i>
    </a>
  </div>
</nav>